/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 * Slider.........................Slider style
 * Card...........................Cards style
 *
 * MAIN CONTENT
 * Header.........................Modify header style
 * Hero...........................Hero styles
 * Client.........................Client style
 * About..........................About style
 * Skills.........................Skills style
 * Cta............................Cta style
 * Testimonials...................Testimonials style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url("./components/btn.css");
@import url("./components/slider.css");
@import url("./components/card.css");





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header { background-color: transparent; }

.header.active { background-color: var(--white); }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: center;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 70%;
  right: -75%;
  background-color: var(--maximum-yellow-red_a40);
  transform: rotate(-45deg);
  border-radius: var(--radius-50);
  z-index: -1;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-subtitle {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  margin-block-end: 20px;
}

.hero-text { margin-block: 25px; }

.hero .btn { margin-inline: auto; }

.hero-banner {
  max-width: max-content;
  margin-inline: auto;
}





/*-----------------------------------*\
  #CLIENT
\*-----------------------------------*/

.client {
  background-color: var(--jet);
  padding-block: 30px;
}

.client .slider-item { min-width: calc(50% - 15px); }

.client .slider::-webkit-scrollbar { display: none; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-text { margin-block: 25px 16px; }

.about-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about-list .list-text {
  color: var(--jet);
  font-weight: var(--fw-500);
}

.about-list .strong {
  color: var(--orange-red);
  display: block;
}

.about .wrapper {
  margin-block-start: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 25px;
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skill { padding-block-end: 0; }

.skill .container,
.skill-list { display: grid; }

.skill .container { gap: 50px; }

.skill-list {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.skill .card ion-icon { font-size: 3rem; }

.skill .card .card-title {
  color: var(--jet);
  font-size: 1.6rem;
  font-weight: var(--fw-500);
}





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background-color: var(--jet);
  text-align: center;
  padding-block: 46px 50px;
}

.cta .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cta .title-lg {
  color: var(--white);
  font-weight: var(--fw-500);
}





/*-----------------------------------*\
  #TESTIMONIALS
\*-----------------------------------*/

.testi .slider-item {
  min-width: 100%;
  scroll-margin-inline-start: 16px;
}

.testi .card {
  position: relative;
  z-index: 1;
}

.testi .card::after {
  content: url("../images/quote-left.svg");
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.testi .client-name {
  margin-block-start: 15px;
  color: var(--jet);
  font-weight: var(--fw-600);
}

.testi .client-title { font-size: var(--fs-14); }

.testi .slider {
  margin-inline: -16px;
  padding-inline: 16px;
  padding-block-end: 35px;
}

.testi .slider::-webkit-scrollbar { height: 12px; }

.testi .slider::-webkit-scrollbar-track {
  border: 1px solid var(--jet);
  border-radius: var(--radius-pill);
}

.testi .slider::-webkit-scrollbar-thumb {
  background-color: var(--jet);
  border-radius: var(--radius-pill);
}

.testi .slider::-webkit-scrollbar-button { width: calc(25% - 20px); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CLIENT, ABOUT & SKILL
   */

  .client .slider-item { min-width: calc(33.33% - 20px); }

  .client .slider-item .w-100,
  .about-banner,
  .skill-banner {
    max-width: max-content;
    margin-inline: auto;
  }



  /**
   * CTA
   */

  .cta .container { justify-content: space-between; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * HERO
   */

  .hero-text { --fs-18: 2rem; }

  .hero::after {
    top: -20%;
    bottom: 50%;
    left: 48%;
    right: -15%;
  }



  /**
   * CLIENT
   */

  .client .slider-item { min-width: calc(25% - 22.5px); }



  /**
   * TESTIMONIALS
   */

  .testi .slider-item { min-width: calc(50% - 15px); }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * HERO, ABOUT, SKILL
   */

  :is(.hero, .about, .skill) .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /**
   * HERO
   */

  .hero { text-align: left; }

  .hero .btn { margin-inline: 0; }



  /**
   * CLIENT
   */

  .client .slider-item { min-width: calc(20% - 24px); }



  /**
   * SKILL
   */

  .skill .container { align-items: flex-start; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * ABOUT
   */

  .about-list { gap: 40px; }

}